[Unit]
Description=Nebula Monitor
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=root
ExecReload=/bin/kill -INT \$MAINPID
ExecStart=/root/nebula --prom-port=6667 --debug monitor --workers=1000

SyslogIdentifier=nebula-monitor
Restart=always

[Install]
WantedBy=multi-user.target
