name: goreleaser

on:
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checking out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setting up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.19'

      - name: Install cross-compiler for linux/arm64
        run: sudo apt-get -y install gcc-aarch64-linux-gnu

      - name: Install make
        run: sudo apt-get -y install make

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Running GoReleaser
        run: | 
          docker run --rm \
            -e GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }} \
            -v ${{ github.workspace }}:/workspace \
            -w /workspace \
            -v /var/run/docker.sock:/var/run/docker.sock \
            ghcr.io/goreleaser/goreleaser-cross:v1.19.6 release --clean --config .goreleaser.yaml

