name: go test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Testing
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        ports:
          - "5432:5432"
        env:
          POSTGRES_PASSWORD: password
          POSTGRES_USER: nebula_test
          POSTGRES_DB: nebula_test
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Checking out repository code
        uses: actions/checkout@v4

      - name: Setting up Golang
        uses: actions/setup-go@v4
        with:
          go-version: '1.19'

      - name: Running tests
        run: make test